#welcome-text {
    text-align: center;
    color:darkmagenta;
    background-color: yellow;
}

#porno {
    text-align: center;
    background-color: lightskyblue;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

* {
    line-height: 1.5;
    background-color:darkmagenta;
}

#alert-text {
    color: rgb(189, 255, 6);
    text-align: center;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow',
    Arial, sans-serif;
    font-size: 30px;
    font-variant: small-caps;
    font-style: oblique;
}

ul {
    list-style-image:linear-gradient(to left bottom, white, gray);
    font-size: 20px;
}

.meme {
    background-color: rgba(255, 7, 135, 0.73);
    text-align: center;
}

#Jesus-title {
    text-align: center;
    font-weight: bold;
}

